[Unit]
Description=Latency reducing daemon for linux

# due to Type=dbus this service automatically gets a dependency on dbus.target

[Service]
Type=dbus
BusName=org.quamquam.ulatencyd
ExecStart=/usr/sbin/ulatencyd
Restart=always
UMask=022

[Install]
WantedBy=multi-user.target
